<div class="lg:container mx-10">
    <div class="my-2 text-center">
      Searched for
      <p class="font-bold text-xl"> <%= search %></p>
    </div>
    <div>
        <h1 class="my-2 font-bold text-lg">Users Found (<%= users.length %>)</h1>

        <div class="flex items-center md:mx-10">
            <% if (users && users.length > 0) { users.forEach(user => { %>
                <h1 class="text-blue-600 font-bold duration-300 hover:opacity-50 m-2 p-1 capitalize cursor-pointer">
                    <%= user.name %>
                </h1>
            <% })} %>
        </div>

        <% if (users.length === 0) {  %>
            <h1 class="text-center">No Users found</h1>
        <% } %>
    </div>

    <div> 
        <h1 class="my-2 font-bold text-lg">Posts Found (<%= posts.length %>)</h1>

        <div class="flex items-center justify-between md:mx-4">
            <% if (posts && posts.length > 0) { posts.forEach(post => { %>
  
                <div class="w-full flex flex-col justify-between md:w-3/12 my-2 mx-0 md:mx-1 min-h-full h-72 bg-white rounded px-4 py-3 overflow-y-auto">

                    <a href="/showPost/<%= post.id %>" class=" px-4 py-3 cursor-pointer hover:text-blue-600 duration-300">
                        <h1 class="text-center text-lg my-2 py-4 font-bold">
                          <%= post.title %>
                        </h1>
                    </a>
      
                      <p class="my-2 mx-3">
                          <span class="capitalize font-bold hover:opacity-50 cursor-pointer duration-300"><%= post.User.name %></span>
                      </p>
      
                      <p class="px-10 my-4 text-gray-500 font-bold">
                         <%= post.description.slice(0, 100) %>
                      </p>
                      <div class="flex items-center pt-6 pb-4">
                      <%- include('./partial/Reactions', {post: post, page: 'search'}) %>

                      <%- include('./partial/UserReactionList', {post: post}) %>
                      </div>
                </div>
              
            <% })} %>
        </div>

        <% if (posts.length === 0) {  %>
            <h1 class="text-center">No Posts found</h1>
        <% } %>
    </div>
  </div>
  